.contactform-page h1 {
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
}

.contactform-page input {
  border: 1px solid #fff;
  background-color: #3b494a;
  color: #fff;
  margin: 0;
}

.contactform-page textarea {
  border: 1px solid #fff;
  background-color: #3b494a;
  color: #fff;
}
/* <style>
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
} */

.underline {
  width: 7%;
  margin-top: -27px;
  border: 0.7px solid #fff;
}

.contactform-container {
  background-color: #3b494a;
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}



.two-in-a-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-weight: 200;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-weight: 200;
}

.first {
  width: 49.2%;
}

.second {
  width: 49.2%;
}

.skicka-btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#skicka-btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: #3b494a;
  border: 1.5px solid #fff;
  color: #fff;
}

@media (max-width: 620px) {
  .contactform-container {
    padding: 2% 8%;
  }
  .about-page h1 {
    padding-left: 8%;
  }
}

@media (min-width: 620px) and (max-width: 900px) {
  .contactform-container {
    padding: 4% 12%;
  }
  .about-page h1 {
    padding-left: 12%;
  }
}
