.longstory-container {
  width: 100%;
  padding: 5% 20%;
}

#longstory-image {
  width: 100%;
  height: auto;
}

.heading, .longtext  {
  margin-top: 20px;
}

.longstory-page h2 {
  font-weight: 200;
  text-transform: uppercase;
}

.longstory-page p {
  margin-top: 4px;
  font-weight: 200;
  font-style: italic;
}

.longtext {

}
