.longstory-container {
  width: 100%;
  padding: 2% 20%;
}

#longstory-image {
  width: 100%;
  height: auto;
}

.heading, .longtext  {
  margin-top: 20px;
}

.longstory-page h2 {
  font-weight: 200;
  text-transform: uppercase;
}

.longstory-page p {
  margin-top: 4px;
  font-weight: 200;
  font-style: italic;
}

hr {
  width: 80%;
}


@media (max-width: 620px) {
  .longstory-container {
    width: 100%;
    padding: 4% 8%;
    /* margin-top: 8vh; */
  }
}

@media (min-width: 620px) and (max-width: 900px) {
  .longstory-container {
    width: 100%;
    padding: 3% 12%;
    /* margin-top: 10vh; */
  }
}
