.shortstory-view {
  display: flex;
  justify-content: center;
  padding: 5% 20% 15% 20%;
}

.shortstory-container {
  min-width: 100%;
  display: flex;
  border: 0.7px solid black;
}

/* .shortstory-image-container {
  padding: 5px;
} */

#shortstory-image {
  object-fit: cover;
  width: 330px;
  height: 330px;
  padding: 5px;
  vertical-align: middle;
}

.shortstory-box h2 {
  font-weight: 200;
  font-size: 3.5em;
  text-transform: uppercase;
}

.shortstory-text-container {

  display: flex;
  flex-direction: column;
  margin: auto 20px;
}

.shorttext {

  flex-grow: 2;
}

@media (max-width: 620px){
  .shortstory-container {

    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .shortstory-text-container {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: none;
    margin-left: none;
  } */

  .shorttext {

  }
}

@media (min-width:621px) and (max-width:800px){
  }

@media (min-width: 801px){
  }
