.shortstory-view {
  display: flex;
  justify-content: center;
  padding: 2% 20% 2% 20%;
}

.shortstory-container {
  min-width: 100%;
  display: flex;
  border: 0.7px solid black;
}

#shortstory-image {
  object-fit: cover;
  width: 330px;
  height: 330px;
  padding: 5px;
  vertical-align: middle;
}

.shortstory-box h2 {
  font-weight: 200;
  font-size: 3.5em;
  text-transform: uppercase;
}

.shortstory-box p {
  margin-right: 28px;
}

.shortstory-text-container {

  display: flex;
  flex-direction: column;
  margin: auto 20px;
}


@media (max-width: 900px){
  .shortstory-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #shortstory-image {
    max-width: 100%;
    height: auto;
  }
  .shortstory-box p {
    margin-bottom: 15px;
  }
}
