.about-page {
  background-color: #3b494a;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  margin-top: 32px;
}

.about-page h1 {
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20%;
}

.underline {
  width: 7%;
  margin-top: -27px;
  margin-left: 20%;
  border: 0.7px solid #fff;
}

.first-text h2 {
  font-weight: 200;
  color: #fff;
  text-align: center;
}

.first-text h4 {
  font-weight: 200;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}

.first-text p {
  font-weight: 100;
  color: white;
  text-align: center;
}

.first-text {
  padding: 5% 20%;
}

.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: 100;
}

.featureList li {
  font-weight: 200;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.featureList li.tick:before {
  content: "\2713";
  color: #fff;
  text-transform: none;
}

hr {
  width: 80%;
  color: #fff;
}

@media (max-width: 620px) {
  .first-text {
    padding: 2% 8%;
  }
}

@media (min-width: 620px) and (max-width: 900px) {
  .first-text {
    padding: 4% 12%;
  }
}
